@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #abcdef;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
}

header img {
    height: 85px;
}

/* Estilos para la barra de navegación */
nav {
    margin-top: 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li {
    margin: 0;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-right: 1px solid #555;
}

nav ul li a:last-child {
    border-right: none; /* Elimina la línea del último enlace */
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

/* Estilo para la pestaña activa */
nav ul li a.active {
    background-color: #ff9800;
    color: #fff;
}

/* Triángulo para la pestaña activa */
nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9800;
}


p {
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    margin: 0;
    padding: 0; /* Opcional: Elimina el padding si no quieres espacio interno */
}

.container {
    padding: 20px;
}

.image-link {
    margin: 20px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.image-link img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}
.images {
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}
.images img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}