@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #abcdef;
    margin: 0;
    padding: 0;
}

/* Estilos para la barra de navegación */
nav {
    margin-top: 0;
    position: relative; /* Para que el logo pueda posicionarse sobre la barra de navegación */
}

header img {
    height: 70px;
    position: absolute; /* Cambia a posición absoluta */
    top: -3px; /* Ajusta según la altura del logo */
    left: 20px; /* Ajusta según la distancia del borde izquierdo */
    z-index:10;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    border-radius: 0px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 70px;
    width: 100%;
}

nav ul li {
    margin: 0;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 25px 20px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-right: 1px solid #555;
    font-size: 18px;
}

nav ul li a:last-child {
    border-right: none; /* Elimina la línea del último enlace */
}

nav ul li a:hover {
    background-color: #555;
    color: #fff;
}

/* Estilo para la pestaña activa */
nav ul li a.active {
    background-color: #ff9800;
    color: #fff;
}

/* Triángulo para la pestaña activa */
nav ul li a.active::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9800;
}


.collage-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Asegura que el collage cubra toda la altura de la ventana */
    overflow: hidden;
}

.collage-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("img1.jpeg") top left / 33.3% 50% no-repeat,
                url("img2.jpeg") top center / 33.3% 50% no-repeat,
                url("img3.jpeg") top right / 33.3% 50% no-repeat,
                url("img4.jpeg") bottom left / 33.3% 50% no-repeat,
                url("img5.jpeg") bottom center / 33.3% 50% no-repeat,
                url("img6.jpeg") bottom right / 33.3% 50% no-repeat;
    z-index: -1; /* Asegura que el collage esté detrás del contenido */
    opacity: 0.95; /* Ajusta la opacidad para no distraer del contenido principal */
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-box {
    background-color: #b0f2c2;
    border: 1px solid #000;
    padding: 20px;
    max-width: 330px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.image-box {
    max-width: 300px;
}

.image-box img {
    width: 100%;
    height: auto;
    margin-right: 100px;
}




.image-link {
    margin: 20px;
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}
.image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-link img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}
.images {
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}
.images img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
